<div class="panel main-panel">

  <div class="panel-header">
    <h4></h4>

    <div class="alert alert-info">
      <div class="pull-right">
        {{ commit.committed_date }}
        <strong>{{ commit.committer }}</strong>
      </div>

      <pre class="commit-message">{{ commit.message.trim() }}</pre>
    </div>

    <div class="alert alert-warning" ng-if="truncated">
      showing only 20 diffs of {{ countOfDiffs }}
    </div>
  </div>

  <div class="panel-body">
    <table class="diff-header">
      <tr>
        <td class="left">
          <div ng-repeat="p in parents">
            <strong><a href ui-sref="commit({hexsha: p})">{{ p }}</a></strong>
          </div>
        </td>
        <td class="right">
          <strong>{{ hexsha }}</strong>
        </td>
      </tr>
    </table>
    <div id="diffContents">
    </div>

  </div>
</div>
