<div class="panel main-panel">

  <div class="panel-header">
    <branch-indicator branches="branches"
                      currentbranch="stateParams.branch"
                      urlcallback="gotoAnotherBranch"
                      style="margin-bottom: 10px;"></branch-indicator>
  </div>

  <div class="panel-body">
    <ul class="list-unstyled commit-horizontal-box">
      <li ng-if="!list.length">
        <strong>'master' does not have any commits yet.</strong>
      </li>
      <li ng-repeat="commit in list">
        <commit-card rgroup="stateParams.rgroup"
          rname="stateParams.rname" commit="commit"></commit-card>
      </li>
    </ul>
  </div>
  <div id="tt">

  </div>
</div>
