<div class="panel main-panel">

  <div class="panel-header">
  </div>

  <div class="panel-body">
    <h4>Your profile</h4>

    <div>
      <form class="two_column totango tracked" data-tracking-activity="Personalize Zendesk" data-tracking-module="Save Settings" enctype="multipart/form-data" id="settings-account-branding" method="post">
        <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="00o6uJfC44mt3haT+St4wK76qZLeSzy9FORL4oCOrxk=">
        </div>

        <div class="element_group">

          <div style="margin: 20px 0;">
            <img src="/profile/image/{{ user.username }}" style="max-width: 70px">
          </div>

          <div class="form_element">
            <label for="account_name">username</label>

            <div class="form_field">
              <div ng-if="editable.username">
                <input class="title"
                       ng-model="user.username"
                       size="30" type="text">
              </div>
              <div ng-if="!editable.username">
                <span>{{ user.username }}</span>
                <!--
                <button class="btn btn-default btn-xs" type="button"
                        ng-click="setUsernameEditable()">edit username
                </button>
                -->
              </div>
            </div>
          </div>
          <div class="form_element">
            <label for="account_name">Name</label>

            <div class="form_field">
              <input class="title"
                     ng-model="user.name"
                     size="30" type="text" ng-change="validateName()">

              <div style="margin: 10px 0;" ng-if="validate.name.result !== ''">
                <div ng-if="!validate.name.loading">
                    <span class="label {{ validate.name.status ? 'label-success' : 'label-danger' }}"
                          style="font-size: 90%; font-weight: normal">{{ validate.name.result }}</span>
                </div>
                <div ng-if="validate.name.loading">
                    <span class="label label-default"
                          style="font-size: 90%; font-weight: normal">wait...</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form_element">

            <label for="account_name">Nickname</label>

            <div class="form_field">
              <div ng-if="editable.nickname">
                <input class="title" id="account_name"
                       ng-model="user.nickname"
                       ng-change="validateNickname()"
                       size="30" type="text" autocomplete="off">

                <div style="margin: 10px 0;" ng-if="validate.nickname.result !== ''">
                  <div ng-if="!validate.nickname.loading">
                    <span class="label {{ validate.nickname.status ? 'label-success' : 'label-danger' }}"
                          style="font-size: 90%; font-weight: normal">{{ validate.nickname.result }}</span>
                  </div>
                  <div ng-if="validate.nickname.loading">
                    <span class="label label-default"
                          style="font-size: 90%; font-weight: normal">wait...</span>
                  </div>
                </div>
              </div>


              <div ng-if="!editable.nickname">
                {{ user.nickname }}
                <button class="btn btn-default btn-xs" type="button"
                        ng-click="setNicknameEditable()">edit nickname
                </button>
              </div>

              <p>
                <small>
                  This nickname is used for the group name of your own repositories.<br>
                  ex) http://localhost:5000/{{ user.nickname }}/&lt;project name&gt;
                </small>
              </p>
            </div>
          </div>

          <div class="form_element">
            <label for="password">Password</label>

            <div class="form_field">
              <p>
                <input class="title" id="password"
                       size="30" type="password"
                       ng-model="user.password">
              </p>

              <p>
                <input class="title"
                       size="30" type="password"
                       ng-model="user.passwordConfirm">
              </p>
            </div>
          </div>

        </div>

        <div class="actions">
          <button class="btn btn-sm btn-default"
                  name="commit" type="button" ng-click="save()">Save
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
