<div class="panel main-panel">

  <div class="panel-header">
    <div ng-if="stateParams.group && stateParams.repo">
      <ul class="list-inline subtitle">
        <li>
          <a href ui-sref="repository({group: stateParams.group})">{{ stateParams.group }}</a>
        </li>
        <li>/</li>
        <li>
          <a href
             ui-sref="trees({group: stateParams.group, repo: stateParams.repo, path: 'master'})">{{ stateParams.repo }}</a>
        </li>

        <li ng-repeat-start="p in paths">/</li>
        <li ng-repeat-end>{{ p }}</li>
      </ul>
    </div>

    <div class="alert alert-info" ng-if="commitCount">
      <div>
        <a href ui-sref="commits({group: stateParams.group, repo: stateParams.repo, branch: branch, take:15, skip:0})">
          {{ commitCount | number }} commit<span ng-if="commitCount > 1">s</span></a>
      </div>
    </div>

    <clone-indicator cloneurl="cloneUrl"
                     class="pull-right"></clone-indicator>

    <branch-indicator
      branches="branches"
      currentbranch="branch"
      urlcallback="gotoAnotherBranch"
      style="margin-bottom: 10px;"></branch-indicator>

  </div>

  <div class="panel-body">

    <div ng-if="lastCommit">
      <p>
        Last updated by {{ lastCommit.date }}
      </p>
      <commit-card rgroup="stateParams.rgroup"
                   rname="stateParams.rname" commit="lastCommit"></commit-card>
    </div>

    <table class="table tree-table" ng-if="list.length > 0">
      <thead>
      <tr>
        <th></th>
        <th>file</th>
        <th>message</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="l in list">
        <td
          class="icon">
          <div ng-if="l.type === 'tree'">
            <svg aria-hidden="true" class="octicon octicon-file-directory"
                 height="16" version="1.1" viewBox="0 0 14 16" width="14">
              <path
                d="M13 4H7V3c0-.66-.31-1-1-1H1c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zM6 4H1V3h5v1z"></path>
            </svg>
          </div>
          <div ng-if="l.type === 'blob'">
            <svg aria-hidden="true" class="octicon octicon-file-text"
                 height="16"
                 version="1.1" viewBox="0 0 12 16" width="12">
              <path
                d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path>
            </svg>
          </div>
        </td>
        <td class="name">
          <a href ng-if="l.type === 'system'" ng-click="back()">{{ l.name }}</a>
          <a href ng-if="l.type === 'tree'"
             ui-sref="trees({
            rgroup: stateParams.rgroup,
            rname: stateParams.rname,
            branch: stateParams.branch,
            path: stateParams.path + (stateParams.path ? '/' : '') + l.name})">
            {{ l.name }}</a>
          <a href ng-if="l.type === 'blob'"
             ui-sref="blob({
            rgroup: stateParams.rgroup,
            rname: stateParams.rname,
            branch: stateParams.branch,
            path: stateParams.path + (stateParams.path ? '/' : '') + l.name})">
            {{ l.name }}</a>
        </td>
        <td class="commit">
          <a
            ui-sref="commit({
            rgroup: stateParams.rgroup,
            rname: stateParams.rname,
            hexsha: l.commit.hexsha})">{{ l.commit.message }}</a>
        </td>
        <td class="date">
          {{ l.commit.date }}
        </td>
      </tr>
      </tbody>
    </table>

    <div ng-if="readme">
      <hr>
      <div class="markdown">
        <h4 class="filename"><i class="fa fa-file"></i> README.md</h4>
        <hr class="title-hr">
        <div ng-bind-html="readme"></div>
      </div>
    </div>

    <div ng-if="list.length === 0" style="margin-top: 10px;">
      <p style="margin-top: 10px;">
        <strong>'master' does not have any commits yet.</strong>
      </p>
      <hr>
      <p>
        Work with your existing source code
      <pre><code>{{ message.existingProject }}</code></pre>
      </p>
      <p>
        or start a new project.
      <pre><code>{{ message.newProject }}</code></pre>
      </p>
    </div>
  </div>
