<div class="panel main-panel">
  <div class="panel-header">
    <h4>dashboard</h4>
  </div>
  <div class="panel-body">
    <h5 ng-if="isGroups">groups list</h5>
    <h5 ng-if="!isGroups">repository list of {{ stateParams.group }}</h5>
    <ul>
      <li ng-if="isGroups" ng-repeat="r in repos">
        <a href ui-sref="dashboard({group:r})">{{ r }}</a>
      </li>
      <li ng-if="!isGroups" ng-repeat="r in repos">
        <a href ui-sref="tree({group:stateParams.group, repo:r, path: 'master'})">{{ r }}</a>
      </li>
    </ul>
  </div>
</div>
