<div class="panel main-panel">

  <div class="panel-header">
    <h4>files</h4>

    <div class="alert alert-info">
      <div>
        <a href
          ui-sref="commits({group: stateParams.group, repo: stateParams.repo, branch: branch, take:15, skip:0})">
          commit {{ commitCount | number }}</a>
      </div>
      <!-- <div><strong>/{{ stateParams.path }}</strong></div> -->
    </div>

    <clone-indicator cloneurl="'http://localhost:5000/opensources/flask.git'"
      class="pull-right"></clone-indicator>

    <branch-indicator
      branches="branches"
      currentbranch="branch"
      urlcallback="gotoAnotherBranch"
      style="margin-bottom: 10px;"></branch-indicator>

  </div>

  <div class="panel-body">
    <table class="table table-striped tree-table">
      <thead>
      <tr>
        <th></th>
        <th>file name</th>
        <th>message</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="l in list">
        <td
          class="icon">
          <div ng-if="l.type === 'tree'">
            <svg aria-hidden="true" class="octicon octicon-file-directory"
              height="16" version="1.1" viewBox="0 0 14 16" width="14">
              <path
                d="M13 4H7V3c0-.66-.31-1-1-1H1c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zM6 4H1V3h5v1z"></path>
            </svg>
          </div>
          <div ng-if="l.type === 'blob'">
            <svg aria-hidden="true" class="octicon octicon-file-text"
              height="16"
              version="1.1" viewBox="0 0 12 16" width="12">
              <path
                d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path>
            </svg>
          </div>
        </td>
        <td class="name">
          <a ng-if="l.type === 'system'" href ng-click="back()">{{ l.name }}</a>
          <a ng-if="l.type === 'tree'"
            ui-sref="tree({
            group: stateParams.group,
            repo: stateParams.repo,
            branch: stateParams.branch,
            path: stateParams.path + (stateParams.path ? '/' : '') + l.name})">
            {{ l.name }}</a>
          <a ng-if="l.type === 'blob'"
            ui-sref="blob({
            group: stateParams.group,
            repo: stateParams.repo,
            branch: stateParams.branch,
            path: stateParams.path + (stateParams.path ? '/' : '') + l.name})">
            {{ l.name }}</a>
        </td>
        <td class="commit">
          <a
            ui-sref="commit({
            group: stateParams.group,
            repo: stateParams.repo,
            hexsha:l.commit.hexsha})">{{ l.commit.message }}</a>
        </td>
        <td class="date">
          {{ l.commit.date }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
