<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>flamengo</title>
  <link rel="stylesheet"
        href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="vendor/diffview/diffview.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>

<div>

  <div class="m-app-loading" initial-loading-resolve ng-animate-children>
    <div class="animated-container">
      <div class="messaging">
        <h1>
          Flamengo is Loading
        </h1>

        <p>
          Please stand by for your ticket to awesome-town!
        </p>

      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-inverse">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href ui-sref="dashboard">Flamengo</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!--
          <li class="active"><a href>Project
            <span class="sr-only">(current)</span></a></li>
          <li><a href>Link</a></li>
          <li class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">Dropdown
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href>Action</a></li>
              <li><a href>Another action</a></li>
              <li><a href>Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href>Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href>One more separated link</a></li>
            </ul>
          </li>
          -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href><span
            show-during-resolve> Loading...</span></a></li>
          <li class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">red@custdomain.com
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/auth/signout">Sign out</a></li>
            </ul>
          </li>
          <li>
            <form class="navbar-form navbar-left top-search-form" role="search">
              <div class="form-group">
                <input type="text" class="form-control input-sm"
                       placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default btn-sm">Submit</button>
            </form>
          </li>
          <!--
            <li><a href>Link</a></li>
            <li class="dropdown">
              <a href class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href>Action</a></li>
                <li><a href>Another action</a></li>
                <li><a href>Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href>Separated link</a></li>
              </ul>
            </li>
          -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="header">
    <div class="stripe stripe-blue">
      <div class="container">
        <h4 class="header-title">
          <svg aria-hidden="true" class="octicon octicon-repo" height="16"
               version="1.1" viewBox="0 0 12 16" width="12">
            <path
              d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
          </svg>

          <div ng-if="!stateParams.group">
            <ul class="list-inline repo-navigation">
              <li>
                any group or repository was not selected
              </li>
            </ul>
          </div>

          <div ng-if="stateParams.group && !stateParams.repo">
            <ul class="list-inline repo-navigation">
              <li>
                repositories of {{ stateParams.group }}
              </li>
            </ul>
          </div>

          <div ng-if="stateParams.group && stateParams.repo">
            <ul class="list-inline repo-navigation">
              <li>
                <a href ui-sref="dashboard({group: stateParams.group})">{{ stateParams.group }}</a>
              </li>
              <li>/</li>
              <li>
                <a href ui-sref="tree({group: stateParams.group, repo: stateParams.repo, path: 'master'})">{{ stateParams.repo }}</a>
              </li>
            </ul>
          </div>

          <!--
          <a ng-if="stateParams.repo && stateParams.group"
             href
             ui-sref="commits({group: stateParams.group, repo: stateParams.repo, branch: 'master', take:15, skip:0})">
            <svg aria-hidden="true" class="octicon octicon-repo commits" height="16"
                 version="1.1" viewBox="0 0 12 16" width="12">
              <path
                d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
            </svg>
          </a>
          -->
        </h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div ui-view></div>
  </div>

</div>
<script data-main="js/main" src="bower_components/requirejs/require.js"></script>

</body>
</html>