<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>flamengo</title>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

  <!-- build:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="vendor/diffview/diffview.css">
  <!-- endbuild -->
  <!-- build:less -->
  <link rel="stylesheet/less" type="text/css" href="css/app.less"/>
  <!-- endbuild -->
  <!-- build:js -->
  <script src="bower_components/less/dist/less.js"></script>
  <!-- endbuild -->
</head>
<body>

<div class="m-app-loading" initial-loading-resolve ng-animate-children>
  <div class="animated-container">
    <div class="messaging">
      <h1>
        Flamengo is Loading
      </h1>

      <p> Please stand by for your ticket to awesome-town! </p>

    </div>
  </div>
</div>

<header>
  <div class="center">
    <a href style="font-size: 16px;">Flamengo</a>
  </div>
  <div class="right">
    <span style="color: white; margin-right: 10px;" show-during-resolve> Loading...</span>
    <a href><i class="fa fa-user"></i></a>
  </div>
  <div class="clear"></div>
</header>

<div class="main-navigation">
  <a class="dashboard toolbar-link active" href title="홈">
    <span class="accessible-hidden-text">홈</span>
    <i class="fa fa-home" style="font-size: 190%"></i>
  </a>
</div>

<div>
  <div class="main-pane">
    <div class="pane left">
      <div class="stacked-menu">
        <div class="section">
          <div class="title" style="font-weight: bold">
            <i class="fa fa-dashboard"></i> control
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li><a href ui-sref="repository()"> repository </a></li>
          </ul>
        </div>
        <div class="section" ng-if="stateParams.group && stateParams.repo">
          <div class="title" style="font-weight: bold">
            <i class="fa fa-code"></i> source
          </div>

          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href ui-sref="tree({group: stateParams.group, repo: stateParams.repo, path: stateParams.branch || 'master'})"> source tree </a>
            </li>
            <li>
              <a href ui-sref="commits({group: stateParams.group, repo: stateParams.repo, branch: stateParams.branch || 'master', take:15, skip:0})"> commits </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pane right section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12" style="padding-top: 16px">
            <div class="header">
              <div class="stripe stripe-blue">
                <h4 class="title" style="margin-left: 10px;">
                  <svg aria-hidden="true" class="octicon octicon-repo" height="16"
                       version="1.1" viewBox="0 0 12 16" width="12">
                    <path
                      d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
                  </svg>
                  <span ng-if="title">{{ title }}</span>
                    <span ng-if="!title">
                      <span ng-if="!stateParams.group">
                        <ul class="list-inline subtitle">
                          <li>
                            any group or repository was not selected
                          </li>
                        </ul>
                      </span>
                      <span ng-if="stateParams.group && !stateParams.repo">
                        <ul class="list-inline subtitle">
                          <li>
                            repositories of {{ stateParams.group }}
                          </li>
                        </ul>
                      </span>
                      <span ng-if="stateParams.group && stateParams.repo">
                        <ul class="list-inline subtitle">
                          <li>
                            <a href ui-sref="dashboard({group: stateParams.group})">{{ stateParams.group }}</a>
                          </li>
                          <li>/</li>
                          <li>
                            <a href
                               ui-sref="tree({group: stateParams.group, repo: stateParams.repo, path: 'master'})">{{ stateParams.repo }}</a>
                          </li>
                        </ul>
                      </span>
                    </span>
                </h4>
              </div>
            </div>

            <div ui-view></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- build:requirejs -->
<script data-main="js/main"
        src="bower_components/requirejs/require.js"></script>
<!-- endbuild -->
</body>
</html>
